.carousel-back{
    background-color:#FEEAE9;
}

.buttonnn{
    background-image: linear-gradient( 45deg, #ff5898, #ff136f);
}

.colorrr{
    color: #ff5898;
}

.categories-yellow{
    background-image: linear-gradient(45deg, #ff9c35, #ffd019);
}

.categories-blue{
    background-image: linear-gradient(45deg, #4289ff, #07f8c3 );
}